/* Googlefont Poppins Import */
@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Short Stack", cursive;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  /* overflow-anchor: none; */
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #2d85de;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 900;
  color: #fff;
  min-width: 60px;
  text-align: center;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.sidebar .nav-links {
  margin-top: 10px;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a {
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #fff;
  color: #000 !important;
}
.sidebar .nav-links li a:hover {
  background: rgba(255, 255, 255, 0.245);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
}

.sidebar .nav-links li a:hover i,
.sidebar .nav-links li a:hover .links_name {
  color: #000;
}
.sidebar .nav-links li a .links_name {
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 150vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i {
  cursor: pointer;
  font-size: 35px;
  color: #2d85de;
  margin-right: 10px;
}

.home-section .home-content {
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: calc(100% / 3 - 15px);
  background: #fff;
  padding: 1.5rem 1.3rem;
  margin-top: 3rem;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .right-side {
  width: 100%;
}

.overview-boxes .right-side i {
  font-size: 1.3rem;
  padding-bottom: 5px;
  color: #2d85de;
}
.overview-boxes .box-topic {
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

.box-topic_2 {
  background-color: #2d85de;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  font-weight: 500;
}

#myBtn {
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.324);
}

#myBtn:active,
#myBtn:hover {
  border-color: #000;
  background-color: #3398fe;
}

.home-content .box .number {
  display: inline-block;
  font-size: 1rem;
  margin-top: -6px;
  font-weight: 500;
}

/* Table section */

.outer-section {
  margin: 3rem;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: fit-content;
  max-height: fit-content;
}
.table-main {
  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  max-height: 66.4vh;
  margin-top: 22px;
  margin: 15px;
  padding-bottom: 20px;
}
table {
  min-width: max-content;
  border-collapse: separate;
  border-spacing: 0px;
}

table th {
  position: sticky;
  top: 0px;
  background-color: #2d85de;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 18px;

  border: 1px solid #000;
}

table th,
table td {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
table td {
  text-align: left;
  font-size: 15px;
  border: 1px solid rgb(177, 177, 177);
  padding-left: 20px;
}

.modal_card_content .topic {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.6rem;
}

.modal_card_content .topic span {
  color: #2d85de;
  font-weight: bold;
}

/* Pop up modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation-name: modalopen;
  animation-duration: 4s;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
}

/* Modal Header */
.modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  width: 100%;
}

.modal_card_content {
  border-radius: 15px;
  padding: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  margin-top: 2rem;
  width: 100%;
}

.modal_card_content i {
  font-size: 1.3rem;
  padding-bottom: 5px;
  color: #2d85de;
}
.modal_card_content .box-topic {
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

/* The Close Button */
.close {
  cursor: pointer;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: #2d85de;
  text-decoration: none;
  cursor: pointer;
}
/* Pop up modal */

.pagemodal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.82);
}

/* loader */
.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  /* width: 120px;
  height: 120px; */
  margin: -76px 0 0 -76px;
  border-radius: 50%;
  -webkit-animation: pulse-animation 2s linear infinite;
  animation: pulse-animation 2s linear infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px transparent;
  }
  100% {
    box-shadow: 0 0 0 20px transparent;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* CATEGORY SECTION */
.category_main {
  width: 100%;
  gap: 5rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
  margin: auto;
  margin-top: 5rem;
}

.category_section {
  margin: 3rem auto;
  padding: 1rem;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category_section span {
  color: #2d85de;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.category_box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: auto;
  width: 100%;
  padding: 25px 18px;
  border-radius: 15px;
  margin-bottom: 2rem;
}

.category_box form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.category_box form input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.13);
  width: 100%;
  padding: 10px 6px;
}

.category_box form button {
  align-self: center;
  width: 100%;
  padding: 10px 6px;
  background-color: #2d85de;
  color: #fff;
  border-radius: 6px;
  border: none;
}

.category_box form button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.category_done {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 400px;
  width: 400px;
  padding: 25px 18px;
  margin-right: 3rem;
  border-radius: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.search-card {
  padding: 25px;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  border: 1px solid rgba(0, 0, 0, 0.195);
}

.search-card a img {
  width: 100%;
}

.search-card .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
}

.text-right button {
  padding: 10px 6px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.text-right button:nth-child(1) {
  background-color: #2d85de;
  color: #fff;
}
.text-right button:nth-child(2) {
  background-color: red;
  color: #fff;
}

.text-right button:nth-child(1):hover,
.text-right button:nth-child(2):hover {
  opacity: 0.9;
}

.category_name {
  margin-top: 1rem;
  padding: 25px auto;
}

.search-card .cat {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  margin-bottom: 1rem;
}

/* update modal */
.updateform {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5rem;
}

.updateform .update-input {
  width: 50%;
  padding: 1rem;
  background-color: #fff;
  margin: auto;
  margin-top: 5rem;
  height: auto;
}

.updateform .update-header {
  background-color: #2d85de;
  color: #fff;
  padding: 16px 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.updateform .update-header > span > i {
  font-size: 25px;
}

.change_image {
  cursor: pointer;
  background-color: #2d85de;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 10px;
  float: right;
  margin-top: 0.8rem;
  margin-bottom: 3rem;
}

#update_form {
  margin: 4rem auto;
  width: 100%;
}

.updateName,
.updateImage {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.updateName > label,
.updateImage > label {
  font-size: 1rem;
  color: #2d85de;
  padding: 10px 5px;
}

.updateName > input {
  padding: 10px 3px;
  width: 70%;
  text-align: center;
  border: 1px solid #2d85de;
}

.updateImage > input {
  padding: 6px 3px;
  width: 100%;
  text-align: start;
  border: 1px solid #2d85de;
  color: #000;
}

#update_form button {
  background: #2d85de;
  color: #fff;
  padding: 10px 5px;
  float: right;
  margin: 1rem auto;
  border: none;
  cursor: pointer;
}

#update_form button:hover,
.change_image:hover {
  background-color: #2d86dec9;
}

/* media query */
@media screen and (max-width: 650px) {
  .update-input {
    width: 100%;
    margin-top: 9rem;
    height: 80vh;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .update-input {
    width: 80%;
  }
  /* media query for modal ends here */
}
/* MEDIA QUERIES */

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.active {
    width: 220px;
  }
  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }

  .modal-content {
    width: 85%;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }
  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
  .modal-content {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
  .modal-content {
    width: 80%;
  }

  .category_main {
    width: 100%;
    margin: auto 0.8rem;
    padding: 1rem 0rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .category_main .category_section .category_box {
    width: 60vw;
    margin-right: 2rem;
  }

  .category_main .category_section .category_done {
    height: auto;
    width: 100%;
    margin-right: 1rem;
  }

  .search-card {
    margin: auto 1rem;
  }

  .update-input {
    padding: 0;
    width: 65%;
    margin-left: 6rem;
    margin-right: 1rem;
    margin-top: 10rem;
    height: auto;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }

  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }

  .home-content .sales-boxes .sales-details {
    width: 560px;
  }

  .modal-content {
    width: 75%;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details {
    display: none;
  }
  .modal-content {
    width: 80%;
    margin-left: 4.5rem;
    padding: 10px;
  }

  .card-details {
    width: 100%;
  }

  .category_main {
    width: 100%;
    padding: 0;
    margin-left: -0.4rem;
  }

  .category_main .category_section .category_box {
    width: 80vw;
  }

  .category_section {
    width: 100%;
    margin: auto;
    padding-left: 3.5rem;
  }

  .category_done {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    margin: auto;
    padding: 18px 18px;
    border-radius: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .update-input {
    padding: 0;
    width: 82%;
    margin-left: 4.25rem;
    margin-right: 1rem;
    margin-top: 10rem;
    height: auto;
  }

  .search-card {
    margin: auto 0.5rem;
  }

  update_form {
    margin-top: 2rem;
    padding: 1rem 1.1rem;
  }

  #update_form #updatename {
    width: 100%;
    padding: 0.6rem 1rem;
    margin-bottom: 1rem;
  }

  #update_form label {
    font-size: 12px;
  }

  .update_btn {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }
  .sidebar.active {
    width: 60px;
  }
  .home-section {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section {
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav {
    width: 100%;
    left: 0;
  }

  .sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }

  .modal {
    overflow-x: hidden;
  }

  .modal-content {
    margin: auto;
    width: 90%;
  }

  .modal-content .card-details {
    font-size: 85%;
  }

  .category_main {
    width: 100vw;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .category_main .category_section .category_box {
    width: 90vw;
  }

  .category_main .category_section .category_done {
    height: auto;
    width: 100%;
  }

  .search-card {
    margin: 1rem auto;
  }
}
