main {
  position: relative;
  padding-top: 10rem;
  margin-top: 28rem;
  width: 100%;
  margin: auto;
}

.subname {
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 2.5rem 2.5rem;
  border-radius: 10px;
}

.subname > div,
.update-subheader {
  border-bottom: 1px solid #2d85de;
  margin-bottom: 1rem;
}

.subname div h1,
.update-subheader > h2 {
  margin-bottom: 1rem;
}

.name_subcategory,
.images_subcategory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  margin-top: 1rem;
}

.name_subcategory > input,
.images_subcategory > input {
  padding: 10px 6px;
  width: 70%;
}

.name_subcategory > label,
.images_subcategory > label {
  font-size: 0.9rem;
}

.images_subcategory input {
  padding: 10px 6px;
  border: 1px solid #2d85de;
}

form button {
  margin-top: 1.8rem;
  padding: 1rem;
  background-color: #2d85de;
  color: #fff;
  cursor: pointer;
  border: none;
}

.updatesubcatform {
  display: none;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  background-color: #fff;
  padding: 2.5rem 2.5rem;
  border-radius: 10px;
}

.updatesubcatform .update-subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.updatesubcatform .update-subheader .cut .bx-x {
  font-size: 2rem;
  cursor: pointer;
}

.update_name,
.update_sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  margin-top: 1rem;
}

.update_name > input,
.update_sub > input {
  padding: 10px 6px;
  width: 70%;
}

.update_sub > input {
  padding: 10px 6px;
  border: 1px solid #2d85de;
}

.update_name > label,
.update_sub > label {
  font-size: 0.9rem;
}

.subCategoryLists .subCatItem {
  height: 300px;
  width: 80%;
  overflow-y: scroll;
  margin: auto;
  margin-top: 5rem;
  background-color: #aaa;
}

.mainBoxy {
  height: 180px;
  width: 180px;
  background-color: white;
}

.main .search-card2 {
  background-color: black;
}
